<div class="container-login animated fadeInRight">

    <div class="wrap-login" style="  border-right: 5px solid #0e66ad;">

      <form  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
              autocomplete="off" [formGroup]="formulario" (ngSubmit)="resetIn()">
        <div class="mb-3">
          <img src="{{constAssets.img.par}}images/logo-metalsa.png" alt="">
        </div>
        <div class="text-center mb-3">
          <h4>Reset password</h4> 
        </div>
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            id="exampleInputUser" 
            placeholder="User" 
            formControlName="user"
            [class.is-invalid]="userNoValido">
            <div class="text-danger texto-alerta" *ngIf="userNoValido">
              required field
            </div>
        </div>
        <div class="form-group">
          <input 
            type="text" 
            class="form-control"
            id="exampleInputLN" 
            placeholder="Email" 
            formControlName="email"
            [class.is-invalid]="emailNoValido">
            <div class="text-danger texto-alerta" *ngIf="emailNoValido">
              required field
            </div>
        </div>
        <div class="form-group">
          <select 
            class="custom-select" 
            formControlName="domain"
            [class.is-invalid]="domainNoValido">
            <option value=null disabled selected>Selecciona</option>
            <option *ngFor="let item of listDomain" [value]="item.ProductID">{{item.ProductName}}</option>
          </select>
          <div class="text-danger texto-alerta" *ngIf="domainNoValido">
            required field
          </div>
        </div>
        <div class="mb-3">
          <a routerLink="/login" class="txt1">
            Get Back
          </a>
        </div>

        <button type="submit" class="btn btn-info btn-block">Reset Password</button>
      </form>

    </div>

</div>
<app-footer></app-footer>