<div class="card card-dashboard-nine">
    <kendo-grid 
    [data]="gridView">
  
      <kendo-grid-column field="part" title="Part" [width]="50"></kendo-grid-column>
      <kendo-grid-column field="desc" title="Description" [width]="150"></kendo-grid-column>
      <kendo-grid-column field="lote" title="Lote" [width]="100"></kendo-grid-column>
      <kendo-grid-column field="qty" title="Quantity" [width]="50"></kendo-grid-column>
      <kendo-grid-column field="qtyrec" title="QtyRec" [width]="50"></kendo-grid-column>
      <kendo-grid-column field="um" title="UM" [width]="50" format="{0:n0}"></kendo-grid-column>
    </kendo-grid>
  </div>
   