<!-- Create QR codes with ngx-qrcode2 -->
<app-header></app-header>


<div class="row mg-b-20 mb-4 animated fadeIn" style="clear: both;">
  <div class="col-xs-12 col-sm-12 col-md-12">

    <div class="card card-dashboard-nine " *ngIf="!advanceShipping">
      <form class="col-xs-12 col-sm-12 col-md-12 form-group row" 
            autocomplete="off" [formGroup]="encabezado" (ngSubmit)="advance()">
        <div class="form-row col">

          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleInputPassword1">Ship To</label>
              <select 
                  class="custom-select"
                  formControlName="shipTo"
                  (change)="onChangeShipTo()"
                  [class.is-invalid]="shipToNoValido">
                <option value=null disabled selected>Selecciona</option>
                <option *ngFor="let item of listShipDestino" [value]="item.code">{{item.desc}}</option>
              </select>
              <div class="text-danger texto-alerta" *ngIf="shipToNoValido">
                required field
              </div> 
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleInputPassword1">Shipper</label>
              <input 
                class="form-control" 
                type="text" 
                placeholder="Shipper" 
                formControlName="shipper"
                maxlength="36"
                [class.is-invalid]="shipperNoValido">
              <div class="text-danger texto-alerta" *ngIf="shipperNoValido">
                required field
              </div> 
              <div class="text-danger texto-alerta" *ngIf="encabezado.get('shipper').status === 'PENDING'">
                Checking...
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleInputPassword1">Order</label>
              <select 
                class="custom-select" 
                formControlName="order"
                [class.is-invalid]="orderNoValido">
                <option value=null disabled selected>Selecciona</option>
                <option *ngFor="let item of listOrder" [value]="item.order">{{item.order}}</option>
              </select>
              <div class="text-danger texto-alerta" *ngIf="orderNoValido">
                required field
              </div> 
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleInputPassword1">Carrier</label>
              <input 
                class="form-control" 
                type="text" 
                placeholder="Carrier" 
                formControlName="carrier"
                maxlength="36"
                [class.is-invalid]="carrierNoValido">
                <div class="text-danger texto-alerta" *ngIf="carrierNoValido">
                  required field
                </div> 
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-2">
            <div class="form-group">
              <label for="exampleInputPassword1">Driver</label>
              <input 
                class="form-control" 
                type="text" 
                placeholder="Driver" 
                formControlName="driver"
                maxlength="24"
                [class.is-invalid]="driverNoValido">
                <div class="text-danger texto-alerta" *ngIf="driverNoValido">
                  required field
                </div> 
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-2">
            <div class="form-group">
              <label for="exampleInputPassword1">Vehicle</label>
              <input 
                class="form-control" 
                type="text" 
                placeholder="Vehicle" 
                formControlName="truck"
                maxlength="12"
                [class.is-invalid]="truckNoValido">
                <div class="text-danger texto-alerta" *ngIf="truckNoValido">
                  required field
                </div> 
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleInputSeal">Seal</label>
              <input 
                class="form-control" 
                type="text" 
                placeholder="Seal Number" 
                formControlName="seal"
                maxlength="36">
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <label for="exampleInputPassword1">Comment</label>
              <textarea 
                class="form-control" 
                aria-label="With textarea"
                placeholder="Comment" 
                formControlName="comment"
                maxlength="200"></textarea>
            </div>
          </div>

        </div>
        <div class="col-md-2 offset-md-10 d-flex mt-1">
          <button type="submit" class="btn btn-info btn-block">Advance</button>
        </div>
      </form>
    </div>


    <div class="card card-dashboard-nine " *ngIf="advanceShipping">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 pr-5">
          <div class="album-container">
            <div class="album-photo">
              <div [innerHTML]="html"></div>
            </div>

            <ngx-slick-carousel class="album carousel-album album-multiple-items" #slickModal="slick-carousel"
              [config]="slideConfig">

              <div ngxSlickItem (click)="selectImg(slide)" *ngFor="let slide of listRack" class="text-center"
                style=" max-width: 120;">
                <img src="{{slide.img}}" class="rounded float-center" style=" padding: 5px;" height="100" width="120">
                <div class="text-center" style="font-size: .9em;">{{slide.rack}}</div>
              </div>

            </ngx-slick-carousel>
          </div>
        </div>

        <form class="col-xs-12 col-sm-12 col-md-8 form-group row"
          autocomplete="off" [formGroup]="detail" (ngSubmit)="onAdd()">
          
          <div class="form-row col">

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputPassword1">No. Part</label>
                <select 
                  class="custom-select" 
                  formControlName="Part"
                  [class.is-invalid]="partNoValido || existeRegistro"
                  (change)="onChangeidParte()">
                  <option value=null disabled selected>Selecciona</option>
                  <option *ngFor="let item of listShipInv" [value]="item.part">{{item.part}}
                  </option>
                </select>
  
                <div class="text-danger texto-alerta" *ngIf="partNoValido">
                  required field
                </div> 

                <div class="text-danger texto-alerta" *ngIf="existeRegistro">
                  The part number with the specified lot already exists.
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Rack</label>
                <select 
                  class="custom-select" 
                  formControlName="rackCode"
                  [class.is-invalid]="rackCodeNoValido"
                  (change)="onChangeRack()">
                  <option value=null disabled selected>Selecciona</option>
                  <option *ngFor="let item of listRack" [value]="item.id">{{item.rack}} {{item.description}}
                  </option>
                </select>
                <div class="text-danger texto-alerta" *ngIf="rackCodeNoValido">
                  required field
                </div> 
              </div>
            </div>

            <div class="col-4">        
              <div class="form-group">
                <label for="exampleInputPassword1">Qty Part</label>
                <input 
                  class="form-control" 
                  type="text" 
                  placeholder="Qty Part" 
                  formControlName="Qty"
                  [class.is-invalid]="qtyNoValido || qtyValidator"
                  (keypress)="onlyNumber($event)" 
                  autocomplete="off">
                  <div class="text-danger texto-alerta" *ngIf="qtyNoValido">
                    required field
                  </div> 
                  <div class="text-danger texto-alerta" *ngIf="qtyValidator">
                    Qty part no puede ser 0.
                  </div> 
              </div>
            </div>

            <div class="col-2">
              <div class="form-group">
                <label for="exampleInputPassword1">UM</label>
                <input 
                  class="form-control" 
                  type="text" 
                  placeholder="UM" 
                  formControlName="UM"
                  disabled>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="rack">Qty Rack</label>
                <input 
                  class="form-control"
                  type="text" 
                  placeholder="Qty Rack" 
                  formControlName="rackQty"
                  [class.is-invalid]="rackQtyNoValido || qtyRackValidator"
                  (keypress)="onlyNumber($event)" 
                  autocomplete="off">
                  <div class="text-danger texto-alerta" *ngIf="rackQtyNoValido">
                    required field
                  </div> 
                  <div class="text-danger texto-alerta" *ngIf="qtyRackValidator">
                    Qty rack no puede ser 0.
                  </div> 
              </div>
            </div>

            <div class="col-6">
              <div class="form-group" *ngIf="listInqLote.length > 0" >
                <label for="exampleInputPassword1">Lot</label>
                <select 
                  class="custom-select" 
                  formControlName="compLot">
                  <option value=null disabled selected>Selecciona</option>
                  <option *ngFor="let item of listInqLote" [value]="item.lote">{{item.lote}}</option>
                </select>
              </div>
              <div class="form-group" *ngIf="listInqLote.length == 0">
                <label for="exampleInputPassword1">Lot</label>
                <input 
                  class="form-control" 
                  type="text" 
                  placeholder="Lot" 
                  formControlName="compLot"
                  maxlength="14" 
                  autocomplete="off">
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Sublot</label>
                <input 
                  class="form-control" 
                  type="text" 
                  formControlName="comp"
                  placeholder="Sub Lot"  
                  (keypress)="onlyNumber($event)" 
                  [class.is-invalid]="compValidator"
                  autocomplete="off">
                  <div class="text-danger texto-alerta" *ngIf="compValidator">
                    Excede el limite permitido de 99.
                  </div>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <button type="submit" 
              class="btn btn-info btn-block">
              <i class="fa fa-plus-circle" aria-hidden="true">
                </i>
              </button>
          </div>
        </form>
          <!-- <div class="col-md-6">
            <div class="col-md-8">
              <div class="form-group">
                <label for="exampleInputPassword1">Qty Part</label>
                <input 
                  class="form-control" 
                  type="text" 
                  placeholder="Qty Part" 
                  formControlName="qty"
                  [class.is-invalid]="qtyNoValido"
                  (keypress)="onlyNumber($event)" 
                  autocomplete="off">
                  <div class="text-danger texto-alerta" *ngIf="qtyNoValido">
                    required field
                  </div> 
                  
                <span id="toShipMayor" class="alert-required2">To Ship no puede ser 0.</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputPassword1">UM</label>
                <input 
                  class="form-control" 
                  type="text" 
                  placeholder="UM" 
                  formControlName="UM">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="rack">Qty Rack</label>
              <input 
                class="form-control"
                type="text" 
                placeholder="Qty Rack" 
                formControlName="rackQty"
                [class.is-invalid]="rackQtyNoValido"
                (keypress)="onlyNumber($event)" 
                autocomplete="off">
                <div class="text-danger texto-alerta" *ngIf="rackQtyNoValido">
                  required field
                </div> 
              <span id="torackMayor" class="alert-required2">Qty part no puede ser 0.</span>
            </div>
          </div> -->
      </div>

      

        <div class="col-xs-12 col-sm-12 col-md-12 mt-5" style="clear: both;" *ngIf="tieneDatos">
          <div class="line"></div>
        </div>

      <div class="row col-lg-12 col-md-12 col-sm-12 col-md-12">
        <kendo-grid [data]="view" [pageSize]="pageSize" [skip]="skip" [pageable]="pageable"
          (pageChange)="pageChange($event)" [sortable]="true" *ngIf="tieneDatos">

          <kendo-grid-column field="Part" title="Part Number" [width]="100"></kendo-grid-column>
          <kendo-grid-column field="Qty" title="Qty Part" [width]="100"></kendo-grid-column>
          <kendo-grid-column field="UM" title="UM" [width]="100"></kendo-grid-column>

          <kendo-grid-column field="rackCode" title="Rack" [width]="100"></kendo-grid-column>
          <kendo-grid-column field="rackQty" title="Qty Rack" [width]="100"></kendo-grid-column>


          <kendo-grid-column field="lot" title="Lot Shipped" [width]="100"></kendo-grid-column>
          <kendo-grid-column title="Delete" [width]="50" [style]="{'text-align': 'center'}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <a (click)="onMinus(rowIndex)" tooltip="Delete!" placement="right" show-delay="250">
                <i class="fa fa-minus" style="color: red;" aria-hidden="true"></i>
              </a>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid> 
      </div>

        <div class="col-md-4 offset-md-8 d-flex" style="clear: both;">
          <button type="button" (click)="return()" class="btn btn-info btn-block m-1">Return</button>
          <button type="button" (click)="onSave()" *ngIf="tieneDatos" class="btn btn-success btn-block m-1">Save</button>
        </div>

      

    </div>

  </div>
</div>


<div id="modal-print" class="modal modal-template" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  data-backdrop="static" href="#">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content tx-size-lg">
      <div class="modal-body  pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row p-4 ">
          <app-shipping-print [print]="print"></app-shipping-print>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2 offset-md-10 d-flex mt-1">
              <button type="button" *ngIf="!imprimir" (click)="confirmar()"
                class="btn btn-info btn-block m-2">Confirmar</button>
              <button type="button" *ngIf="imprimir" class="btn btn-info btn-block m-2"
                (click)="imprimirRemision()">Imprimir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 


