<div class="card card-dashboard-nine">
    <kendo-grid 
    [data]="gridView">
  
      <kendo-grid-column field="PartID" title="Part" [width]="50"></kendo-grid-column>
      <kendo-grid-column field="PartDesc" title="Description" [width]="150"></kendo-grid-column>
      <kendo-grid-column field="Lot" title="Lot" [width]="50"></kendo-grid-column>
      <kendo-grid-column field="Qty" title="Quantity" [width]="50"></kendo-grid-column>
      <kendo-grid-column field="UM" title="UM" [width]="50"></kendo-grid-column>
    </kendo-grid>
  </div> 